.terminalCommandInput {
  border: 0 hidden;
  outline: none;
  display: inline-flex;
  background: transparent;
  color: #fff;
  width: 60%;
  letter-spacing: 1px;
  font-size: 11px;
}

.terminalCommandHelp {
  color: #168dcc;
}

#terminalMapSection {
  margin: 10px;
  border-radius: 20px;
  padding: 5px;
  box-shadow: -6px -6px 16px #2f2f37, 6px 6px 16px #1c1c21,
    inset 6px 6px 16px #1c1c21, inset -6px -6px 16px #2f2f37;
}

#terminalMap {
  height: 200px;
  width: 100%;
  border-radius: 15px;
  opacity: 0.6;
}

#terminalMap .gmnoprint,
a div img {
  display: none;
}
